@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  
}
* {
  box-sizing: border-box;
}

.swing {
  animation: swing ease-in-out 3s infinite;
}

@keyframes swing {
  0%{
    rotate: 20deg;
  }
  50%{
    rotate: -20deg;
  }
  75%{
    rotate: -50deg;
  }
  100%{
    rotate: 0deg;
  }
}